# The notebook is annual income census of signate.
---

## 1. import csv data and

In [1]:
import pandas as pd

In [15]:
train = pd.read_csv('data/train.csv')

In [16]:
train.head(5)

,index,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,native-country,Y
0,322,21,Private,132652,Some-college,10,Divorced,Adm-clerical,Own-child,White,Female,United-States,0
1,11968,29,Private,132652,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,United-States,0
2,10868,19,Private,132652,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,United-States,0
3,3394,17,Private,132652,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,United-States,0
4,15993,47,Private,132652,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,United-States,0

In [17]:
train['Y'].value_counts()

0    8852
1    3048
Name: Y, dtype: int64

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11900 entries, 0 to 11899
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           11900 non-null  int64
 1   age             11900 non-null  int64
 2   workclass       11900 non-null  object
 3   fnlwgt          11900 non-null  int64
 4   education       11900 non-null  object
 5   education-num   11900 non-null  int64
 6   marital-status  11900 non-null  object
 7   occupation      11900 non-null  object
 8   relationship    11900 non-null  object
 9   race            11900 non-null  object
 10  sex             11900 non-null  object
 11  native-country  11900 non-null  object
 12  Y               11900 non-null  int64
dtypes: int64(5), object(8)
memory usage: 1.2+ MB

In [19]:
train.isnull().sum()

index             0
age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
native-country    0
Y                 0
dtype: int64

## 2. Transeform categorical feature to number.

In [20]:
train['sex'].value_counts()

Male      7949
Female    3951
Name: sex, dtype: int64

In [21]:
sex_mapping = {
    'Male': 0,
    'Female': 1
}
train['sex_int'] = train['sex'].replace(sex_mapping).astype('int64')

In [22]:
train['sex_int']

0        1
1        1
2        1
3        0
4        0
        ..
11895    1
11896    1
11897    0
11898    0
11899    0
Name: sex_int, Length: 11900, dtype: int64

In [23]:
ohe_columns = ['workclass', 
               'education', 
               'marital-status', 
               'occupation', 
               'relationship', 
               'race',
               'native-country'
              ]
train_ohe = pd.get_dummies(data=train, columns=ohe_columns)

In [24]:
train_ohe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11900 entries, 0 to 11899
Data columns (total 58 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   index                              11900 non-null  int64
 1   age                                11900 non-null  int64
 2   fnlwgt                             11900 non-null  int64
 3   education-num                      11900 non-null  int64
 4   sex                                11900 non-null  object
 5   Y                                  11900 non-null  int64
 6   sex_int                            11900 non-null  int64
 7   workclass_?                        11900 non-null  uint8
 8   workclass_Federal-gov              11900 non-null  uint8
 9   workclass_Local-gov                11900 non-null  uint8
 10  workclass_Private                  11900 non-null  uint8
 11  workclass_Self-emp-inc             11900 non-null  uint8
 12  workclass_Self-emp-not-inc         11900 non-null  uint8
 13  workclass_State-gov                11900 non-null  uint8
 14  education_10th                     11900 non-null  uint8
 15  education_11th                     11900 non-null  uint8
 16  education_12th                     11900 non-null  uint8
 17  education_1st-4th                  11900 non-null  uint8
 18  education_5th-6th                  11900 non-null  uint8
 19  education_7th-8th                  11900 non-null  uint8
 20  education_9th                      11900 non-null  uint8
 21  education_Assoc-acdm               11900 non-null  uint8
 22  education_Assoc-voc                11900 non-null  uint8
 23  education_Bachelors                11900 non-null  uint8
 24  education_HS-grad                  11900 non-null  uint8
 25  education_Masters                  11900 non-null  uint8
 26  education_Prof-school              11900 non-null  uint8
 27  education_Some-college             11900 non-null  uint8
 28  marital-status_Divorced            11900 non-null  uint8
 29  marital-status_Married-civ-spouse  11900 non-null  uint8
 30  marital-status_Never-married       11900 non-null  uint8
 31  marital-status_Separated           11900 non-null  uint8
 32  marital-status_Widowed             11900 non-null  uint8
 33  occupation_?                       11900 non-null  uint8
 34  occupation_Adm-clerical            11900 non-null  uint8
 35  occupation_Craft-repair            11900 non-null  uint8
 36  occupation_Exec-managerial         11900 non-null  uint8
 37  occupation_Farming-fishing         11900 non-null  uint8
 38  occupation_Handlers-cleaners       11900 non-null  uint8
 39  occupation_Machine-op-inspct       11900 non-null  uint8
 40  occupation_Other-service           11900 non-null  uint8
 41  occupation_Prof-specialty          11900 non-null  uint8
 42  occupation_Protective-serv         11900 non-null  uint8
 43  occupation_Sales                   11900 non-null  uint8
 44  occupation_Tech-support            11900 non-null  uint8
 45  occupation_Transport-moving        11900 non-null  uint8
 46  relationship_Husband               11900 non-null  uint8
 47  relationship_Not-in-family         11900 non-null  uint8
 48  relationship_Other-relative        11900 non-null  uint8
 49  relationship_Own-child             11900 non-null  uint8
 50  relationship_Unmarried             11900 non-null  uint8
 51  relationship_Wife                  11900 non-null  uint8
 52  race_Asian-Pac-Islander            11900 non-null  uint8
 53  race_Black                         11900 non-null  uint8
 54  race_White                         11900 non-null  uint8
 55  native-country_Mexico              11900 non-null  uint8
 56  native-country_Philippines         11900 non-null  uint8
 57  native-country_United-States       11900 non-null  uint8
dtypes: int64(6), object(1), uint8(51)
memory usage: 1.2+ MB

## 3. Split X and y.

In [26]:
X = train_ohe.drop(['Y', 'sex'], axis=1)
y = train_ohe['Y']

In [27]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11900 entries, 0 to 11899
Data columns (total 56 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   index                              11900 non-null  int64
 1   age                                11900 non-null  int64
 2   fnlwgt                             11900 non-null  int64
 3   education-num                      11900 non-null  int64
 4   sex_int                            11900 non-null  int64
 5   workclass_?                        11900 non-null  uint8
 6   workclass_Federal-gov              11900 non-null  uint8
 7   workclass_Local-gov                11900 non-null  uint8
 8   workclass_Private                  11900 non-null  uint8
 9   workclass_Self-emp-inc             11900 non-null  uint8
 10  workclass_Self-emp-not-inc         11900 non-null  uint8
 11  workclass_State-gov                11900 non-null  uint8
 12  education_10th                     11900 non-null  uint8
 13  education_11th                     11900 non-null  uint8
 14  education_12th                     11900 non-null  uint8
 15  education_1st-4th                  11900 non-null  uint8
 16  education_5th-6th                  11900 non-null  uint8
 17  education_7th-8th                  11900 non-null  uint8
 18  education_9th                      11900 non-null  uint8
 19  education_Assoc-acdm               11900 non-null  uint8
 20  education_Assoc-voc                11900 non-null  uint8
 21  education_Bachelors                11900 non-null  uint8
 22  education_HS-grad                  11900 non-null  uint8
 23  education_Masters                  11900 non-null  uint8
 24  education_Prof-school              11900 non-null  uint8
 25  education_Some-college             11900 non-null  uint8
 26  marital-status_Divorced            11900 non-null  uint8
 27  marital-status_Married-civ-spouse  11900 non-null  uint8
 28  marital-status_Never-married       11900 non-null  uint8
 29  marital-status_Separated           11900 non-null  uint8
 30  marital-status_Widowed             11900 non-null  uint8
 31  occupation_?                       11900 non-null  uint8
 32  occupation_Adm-clerical            11900 non-null  uint8
 33  occupation_Craft-repair            11900 non-null  uint8
 34  occupation_Exec-managerial         11900 non-null  uint8
 35  occupation_Farming-fishing         11900 non-null  uint8
 36  occupation_Handlers-cleaners       11900 non-null  uint8
 37  occupation_Machine-op-inspct       11900 non-null  uint8
 38  occupation_Other-service           11900 non-null  uint8
 39  occupation_Prof-specialty          11900 non-null  uint8
 40  occupation_Protective-serv         11900 non-null  uint8
 41  occupation_Sales                   11900 non-null  uint8
 42  occupation_Tech-support            11900 non-null  uint8
 43  occupation_Transport-moving        11900 non-null  uint8
 44  relationship_Husband               11900 non-null  uint8
 45  relationship_Not-in-family         11900 non-null  uint8
 46  relationship_Other-relative        11900 non-null  uint8
 47  relationship_Own-child             11900 non-null  uint8
 48  relationship_Unmarried             11900 non-null  uint8
 49  relationship_Wife                  11900 non-null  uint8
 50  race_Asian-Pac-Islander            11900 non-null  uint8
 51  race_Black                         11900 non-null  uint8
 52  race_White                         11900 non-null  uint8
 53  native-country_Mexico              11900 non-null  uint8
 54  native-country_Philippines         11900 non-null  uint8
 55  native-country_United-States       11900 non-null  uint8
dtypes: int64(5), uint8(51)
memory usage: 1.0 MB

In [29]:
X.shape

(11900, 56)

## 4. Feature Engineering.

In [31]:
"""
from sklearn.feature_selection import VarianceThreshold
sel = VarianceThreshold(threshold=0)
sel.fit(X)
print(sum(sel.get_support()))
"""

56

## 5. Create Model

In [32]:
# 一旦特徴量削らないバージョン